extends layout

block content
  #content
    form(name="login", method="post")
        div.form-group
            input(type="password", name="title" placeholder="Confirm password")
        input.btn.btn-default(type="submit", value="Login")
