extends layout

block content
  #content
    form(name="login", method="post")
        div.input
            span.label Confirm password
            input(type="text", name="title")
        div.actions
            input(type="submit", value="Login")
