body {
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.page-header {
  margin: 0 0 20px 0;
  border: 0;
}
figcaption {
  padding:10px 0;
}
img.avatar {
  width: 75px;
  height: 75px;
}
image.navbar-brand {
  width: 60px;
  height: 50px;
}
.table-hover td {
  cursor: pointer;
}
.gallery-controls {
  padding: 1px 15px;
}
.caption {
  height: 80px;
}
.inbox-impact .list-group-item {
  border-color: white;
}
/* Overrides panel */
.reasons-form {
  margin-bottom: 0;
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  color: #333;
  text-shadow: none;
  margin:20px 0;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
  background-color: #ccc;
}
.item-status {
  font-weight: bold;
}
.profile.page-header {
  margin: 10px 0;
}
.profile .avatar {
  margin-right: 20px;
}

/*ANIMATIONS*/

.entry-enter {
    transition: all 1s;
    opacity: 0;
}
.entry-enter.entry-enter-active {
    opacity: 1;
}
.entry-leave {
    transition: all 1s;
    opacity: 1;
}
.entry-leave.entry-leave-active {
    opacity: 0;
}
