body {
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.page-header {
  margin: 0 0 20px 0;
  border: 0;
}
figcaption {
  padding:10px 0;
}
img.avatar {
  width: 75px;
  height: 75px;
}
image.navbar-brand {
  width: 60px;
  height: 50px;
}
.table-hover td {
  cursor: pointer;
}
.gallery-controls {
  padding: 1px 15px;
}
.caption {
  height: 80px;
}
.list-group-item {
  border-color: white;
}
/* Overrides panel */
.reasons-form {
  margin-bottom: 0;
}


/*ANIMATIONS*/

.entry-enter {
    transition: all 1s;
    opacity: 0;
}
.entry-enter.entry-enter-active {
    opacity: 1;
}
.entry-leave {
    transition: all 1s;
    opacity: 1;
}
.entry-leave.entry-leave-active {
    opacity: 0;
}
